* {
    padding: 10 10 0 10;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins",sans-serif;
}

:root{
    --text--hover: #f5f5f5;
    --banner--color: #404040;
    --text--color: #93989c;
    --button--color: #93f3fe;
    --title--color: #d12c2c;
    --listtitle--color: #87871c;
}

.body{
    overflow: hidden;
}

.header{
    width: 100%;
    position: fixed;        
    padding: 10px 0 10px 10px;
    display: flex;
    background-color: var(--banner--color);
}

.title a{
    color: var(--title--color);
}

.title a:hover{
    color: var(--title--color);
    text-decoration: none;
}

.nontitle{
    padding: 20px 0 0 10px;
}

.nontitle a{
    padding: 0 10px;
    color: var(--text--color);
}

.nontitle a:hover{
    color: var(--text--hover);
    text-decoration: none;
}

.description {
    text-align: center;
    padding: 150px 20px 0 20px ;
}

.description h2{
    color: var(--title--color);
}

.prodlist{
    text-align: center;
}

.listtitle{
    color: var(--listtitle--color)
}

.list{
    padding-left: 10px;
    list-style-position: inside;
}

.about button{
    line-height: 2.5;
    font-weight: 600;
    background-color: var(--button--color);
}

.about a{
    color: var(--banner--color);
}

.about button a:hover{
    text-decoration: none;
    color: var(--banner--color);
}